<% @studies.each do |study| %>
  <% study.outline[:subtitles].each do |subtitle, points| %>
    <ol>
    <li><h3><%= subtitle %></h3></li>
    <div class= "point">
    <ul>
      <% points.each do  |point| %>
        <li>
        <%= point %>
        </li>
       
      <% end %>
    </ul>
    </div>
    </ol>
  <% end %>
<% end %>

<button onclick="myFunction()"> Activate </button>
<div class="active-box" id="hide_this"> 
  <h1>I am active</h1>
</div>

<a href="#" id="hide_this" class="error">Click To Hide Me</a>