/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Apply margin 0 and padding 0 to all elements by default */
* {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html { 
    box-sizing: border-box;     /* Border box includes padding and margin within the given box element, without resizing the box */
  }

  body {
    display: grid;
    grid-template-rows: 5% 90%;
    grid-template-areas:
      "nav"
      "main"
      "footer";

    min-height: 100vh;
  }

  .navbar {
    grid-area: nav;
    border: 1px black solid;
    
  }

  .footer {
    grid-area: footer;
    border: 4px orange solid;
    
  }

  .main {
    grid-area: main;
    border: 5px pink solid;
    padding: 1rem 1rem 0 1rem;
    overflow:scroll;
  }

  ul {
    display: block;
    list-style-type: disc;
    list-style-type: upper-roman;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  ol.subtitles-list {
    list-style-type: upper-roman;
  }

/* Apply the below style later in the development */
  ol.points-list {
    list-style-type: upper-alpha;
  }


#show-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  
}

.notes-box {
  border: 3px blue solid;
  display: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: brown;
  font-size: 1rem;
  text-align: left;
}

.active-box {
    display: none;
}



