/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Apply margin 0 and padding 0 to all elements by default */
* {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html { 
    /* height: 100%;   */  /* commented out at 8:58am */
    box-sizing: border-box;     /* Border box includes padding and margin within the given box element, without resizing the box */
  }

  body {
    display: grid;
    grid-template-columns: 5% 90%;
    grid-template-rows: 10% 20%;
    grid-template-areas:
      ". nav"
      ". header"
      ". main"
  }

  .navbar {
    grid-area: nav;
    border: 1px black solid;
  }

  .header {
    grid-area: header;
    border: 1px blue solid;
  }

  .main {
    grid-area: main;
    border: 1px green solid;
  }

